* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}
body {
  font-family: sans-serif;
}

/* FIRST SECTION */
.header {
  background-color: #333;
  /* padding-top: 8rem; */
}
.section-one {
  background-color: #444;
  /* background-color: red; */
}

.header-stick {
  background-color: #222;
  width: 100%;
  /* opacity: 0.95; */
  position: relative;
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navigation {
  display: flex;
  max-width: 105rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  /* z-index: 1000; */
  /* background-color: red; */
  height: 8rem;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}
.logo-text {
  color: #fff;
  padding-bottom: 0.8rem;
}
.logo-text:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 500;
}
.logo-text:nth-child(3) {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.logo {
  width: 5rem;
}
.nav-right-part {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
}
.nav-link:hover,
.nav-link:active {
  color: rgb(12, 140, 179);
}
.active-link {
  color: rgb(12, 140, 177) !important;
}

.background-photo {
  background-image: url("photos/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp");
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: auto 13.5/3.52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8rem;
}
.secondary-heading {
  color: #fff;
  font-size: 3.8rem;
  font-weight: 900;
  padding-left: 17rem;
}
.main-text {
  max-width: 105rem;
  margin: 0 auto;
  padding: 7rem 2.5rem;
  font-size: 3rem;
  line-height: 1.6;
  color: #fff;
}
.main-text p {
  padding-bottom: 3rem;
}
.more-info:link,
.more-info:visited {
  text-decoration: none;
  color: rgb(12, 140, 179);
  font-size: 2.2rem;
  font-weight: 700;
}

.more-info:hover,
.more-info:active {
  color: #999;
  cursor: pointer;
}
/* SECTION TWO */
.section-two {
  background-color: #333;
}
.section-two-div {
  max-width: 105rem;
  padding: 5rem 2.5rem;
  margin: 0 auto;
}
.section-two h3 {
  color: #eee;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 6rem;
}
.courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 4rem;
}
.each-course-box {
  border: 1px solid #555;
  overflow: hidden;
  border-radius: 0.8rem;
  padding-bottom: 3rem;
}
.course-photo {
  width: 100%;
  height: auto;
}
.course-name {
  color: #eee;
  padding: 3rem 2rem;
  font-size: 1.8rem;
}
.register-date {
  color: #eee;
  font-size: 1.5rem;
  padding: 0 0 7rem 2rem;
}
.each-course-box a:link,
.each-course-box a:visited {
  text-decoration: none;
  padding-left: 2rem;
  color: rgb(12, 140, 179);
  font-size: 1.8rem;
}

/* SECTION THREE */
.section-three {
  background-color: #444;
  /* position: relative; */
}
.section-three-box {
  /* max-width: 105rem; */
  padding: 4rem 2.5rem;
  /* margin: 0 auto; */
  /* background-color: aquamarine; */
}
.carousel-box {
  padding: 3rem 0 2rem 0;
  /* background-color: red; */
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.box-and-dots {
  flex-basis: 105rem;
}
.each-partners-box {
  margin: 0 auto;
  padding: 4rem 2.5rem;
  /* background-color: gray; */
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners-p {
  max-width: 105rem;
  margin: 0 auto;
  color: #eee;
  font-size: 2.5rem;
  padding-bottom: 4rem;
  padding-left: 2.5rem;
}
/* .fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.show {
  opacity: 1;
} */
/* .each-partners-box div {
  transition: all 2s;
} */
.third-box-one-child {
  justify-content: center;
}
.btn {
  background-color: #444;
  border: none;
}
.btn--left {
  /* position: absolute;
  top: 50%;
  left: 5%; */
}
.btn--right {
  /* position: absolute;
  top: 50%;
  right: 5%; */
}
.btn:hover {
  cursor: pointer;
}
.arrow {
  width: 6rem;
  color: #eee;
  background-color: #444;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* margin-top: 3rem; */
}
.dot:hover {
  cursor: pointer;
}
.dot {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  border: none;
}
/* SECTION-FOUR */
.section-four {
  background-color: #222;
  color: #eee;
}
.section-four-div {
  max-width: 90rem;
  padding: 8rem 2.5rem;
  margin: 0 auto;
}
.header-div {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.header-div h2 {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 500;
}
.all-questions-btn {
  background-color: #222;
  border: none;
}
.all-questions-link:link,
.all-questions-link:visited {
  text-decoration: none;
  color: rgb(12, 140, 179);
  font-size: 2.1rem;
  font-weight: 600;
}
.all-questions-link:hover,
.all-questions-link:active {
  cursor: pointer;
  color: #888;
  transition: color 0.5s;
}
.chevron {
  width: 1.5rem;
  color: #eee;
  display: none;
}

.question-box {
  border-bottom: 1px solid #555;
  padding-bottom: 1rem;
  /* background-color: red; */
}
.question-header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.question-header:hover {
  cursor: pointer;
}
.question {
  font-size: 2rem;
}

.question-answer {
  display: none;
  font-size: 1.6rem;
  line-height: 1.1;
  font-family: sans-serif;
  overflow: hidden;
  opacity: 0;
  /* transition: opacity 2s; */
  /* height: 0; */
}
.steps-box {
  padding: 2.5rem 0 2.5rem 2.5rem;
}
.answer-para:last-child {
  padding-bottom: 2.5rem;
  /* background-color: red; */
}

.active .question-answer {
  display: block;
  /* background-color: green; */
  /* transition: opacity 1s ease, height 1s ease; */
  transition: opacity 2s;

  opacity: 1;
  /* height: 100%; */
}
.active-chevron {
  display: block;
}
/* SECTION FIVE */
.section-five {
  background-color: #2b2929;
}
.footer {
  padding: 5rem 4rem;
  /* background-color: red; */
  max-width: 106rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.copyright,
.rules-link:link,
.rules-link:visited {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #eee;
  text-decoration: none;
}
.rules-link:hover,
.rules-link:active {
  color: #999;
  transition: color 0.3s;
}
.footer-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: flex-end;
}
.social-media-links {
  display: flex;
  gap: 1rem;
}
.email-btn {
  background-color: rgb(44, 197, 240);
  border: none;
  padding: 1.1rem 2.9rem;
  border-radius: 5px;
}
.email-link {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: 0.4px;
}
/* //////////////////////////////////////////////////////////// */
.fade {
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}
